a.menuTop{
    position: relative;
    color: red;
    font-size: 18px;
    text-decoration: none;
    bottom: -12px;
    padding: 15px 298px;
    margin: 0px -2px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}

a.menuTop:hover {
    transition: .3s;
    border-bottom: red solid 3px;
    border-top: red solid 3px;
}